html, body {
  font-family: Ariel, sans-serif;
  height: 100%;
}

.root {
  display: flex;
  flex-direction: column;

  min-height: calc(100vh);
}

.content {
  border: 1px solid black;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;

  margin: 10px;
  padding: 50px;

}

.header {
  font-size: 8vw;
  text-transform: uppercase;
  margin: 0;
}

.input {
  flex-grow: 1;
}

.textarea {
  display: flex;
  border: thin solid black;
  border-radius: 15px;
  width: 97.1%;
  height: 100%;
  margin: 1rem 0;

  padding: 10px;
  outline: none;
  resize: none;
  overflow: auto;
}

.controls {
  display: flex;
  justify-content: space-around;
}

.button {
  background-color: deepskyblue;
  padding: 42px;
  width: 25%;
  border-radius: 25px;
}
