html,
body {
  font-family: Ariel, sans-serif;
  height: 100%;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.root {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh);
  height: 100%;
}

.header {
  font-size: 8vw;
  text-transform: uppercase;
  padding: 0.3em 0.6em 0;
  margin: 0;
}

.input {
  border: thick solid black;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  margin: 0 3.14em 0;
  padding: 3.14em;
}

.textarea {
  display: flex;
  border: none;
  width: 100%;
  height: 100%;
  font-size: calc(3.14em);
  outline: none;
  resize: none;
  overflow: auto;
}

.controls {
  padding: 3.14em;
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.button {
  color: white;
  background-color: black;
  margin: 10px;
  padding: 42px;
  width: 40%;
  border-radius: 25px;
}

.footer {
  text-align: center;
}

@media (max-width: 800px) {
  .root {
    /*background-color: red;*/
  }
  .input {
    margin: 0 1.3em 0;
    padding: 1.3em;
  }
  .textarea {
    font-size: calc(1.5em);
    height: 280px;
  }
  .controls {
    flex-direction: column;
  }
  .button {
    padding: 1rem;
  }
}
